In [1]:
import csv
import random
import datetime

In [2]:
fn = "data.csv"

In [6]:
with open(fn,'w') as fp:
    # 创建CSV文件写入对象
    wr = csv.writer(fp)
    # 写入表头
    wr.writerow(['日期','销量'])
    # 生成模拟数据
    startData = datetime.date(2019,1,1)
    # 生成365个模拟数据，可以根据需求进行调整
    for i in range(365):
        # 生成一个模拟数据，写入CSV文件
        amount = 300 + i*5 + random.randrange(100)
        wr.writerow([str(startData),amount])
        # 下一天
        startData = startData + datetime.timedelta(days = 1)

In [9]:
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
# 读取数据，丢弃缺失值
df = pd.read_csv('data.csv',encoding='cp936')
df = df.dropna()

In [16]:
# 生成营业额折线图
plt.figure
df.plot(x=df['日期'])
plt.savefig('first.jpg')

In [15]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [21]:
# 按月统计，生成柱状图
plt.figure
df1 = df[:]
df1['month']=df1['日期'].map(lambda x : x[:x.rindex('-')])
df1 = df1.groupby(by = 'month',as_index = False).sum()
df1.plot(x = df1['month'],kind = 'bar')
plt.savefig('second.jpg')

In [23]:
# 查找涨幅最大的月份，写入文件
plt.figure
df2 = df1.drop('month',axis=1).diff()
m = df2['销量'].nlargest(1).keys()[0]
with open('maxMonth.txt','w') as fp:
    fp.write(df1.loc[m,'month'])

In [42]:
# 按季度统计，生成饼状图
plt.figure
one = df1[:3]['销量'].sum()
two = df1[3:6]['销量'].sum()
three = df1[6:9]['销量'].sum()
four = df1[9:12]['销量'].sum()
plt.pie([one,two,three,four],labels=['one','two','three','four'])
plt.savefig('three.jpg')

In [44]:
df1

      month     销量
0   2019-01  13277
1   2019-02  16164
2   2019-03  22317
3   2019-04  26267
4   2019-05  31439
5   2019-06  35165
6   2019-07  41335
7   2019-08  46347
8   2019-09  49249
9   2019-10  55721
10  2019-11  58286
11  2019-12  64921